/* Variables */

:root {
  --primary-light: #ffffff;
  --secondary-light: #eeeeee;
  --primary-dark: #283136;
  --primary-dark-transparent: rgba(40, 49, 54, 0.3);
  --secondary-dark: #000000;
  --color-light-grey: #A6A6A6;
  --color-grey: #666666;
  --color-dark-grey: rgb(68, 68, 68);
  --socials: #E1E1E1;
  --page-button-border: #DBDBDB;
  --form-quiet: #D7DCDE;
  --form-hover: #B4B9BB;
  --color-grey-hover: #DFDFDF;
  --color-grey-click: #D5D5D5;
  --templates-bg: #f2f2f2;
  --color-red: #FB565A;
  --color-red-hover: #e74246;
  --color-red-click: #D7373B;
  --color-green: #00CA74;
  --color-green-hover: #00BC6C;
  --color-green-click: #00AA62;
  --color-yellow: #EFC849;
  --color-yellow-hover: #EAB534;
  --color-yellow-click: #E5A722;
  --transparent-light: rgba(255, 255, 255, 0.3);
  --transparent-dark: rgba(0, 0, 0, 0.3);
  --transparent-dark2: rgba(0, 0, 0, 0.1);
  --transparent-dark3: rgba(0, 0, 0, 0.6);
  --transparent-grey: rgba(68, 68, 68, 0.5);
}

/*-------------Global-------------*/

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  margin: 0;
  padding: 0;
  min-width: 1180px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------buttons-------------*/

.button {
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-light);
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 16px 54px;
}

.more-info-button,
.order-red-button,
.feedback-button,
.send-button,
.price-button {
  background-color: var(--color-red);
}

.order-red-button,
.order-yellow-button,
.order-green-button {
  padding: 16px 40px;
}

.order-green-button {
  background-color: var(--color-green);
}

.order-green-button:hover {
  background-color: var(--color-green-hover);
}

.order-green-button:focus {
  color: var(--transparent-light);
  background-color: var(--color-green-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-yellow-button {
  background-color: var(--color-yellow);
}

.order-yellow-button:hover {
  background-color: var(--color-yellow-hover);
}

.order-yellow-button:focus {
  color: var(--transparent-light);
  background-color: var(--color-yellow-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.more-info-button:hover,
.order-red-button:hover,
.feedback-button:hover,
.send-button:hover,
.price-button:hover {
  background-color: var(--color-red-hover);
}

.more-info-button:focus,
.order-red-button:focus,
.feedback-button:focus,
.send-button:focus,
.price-button:focus {
  color: var(--transparent-light);
  background-color: var(--color-red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.show-button {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
  outline: none;
}

.show-button:hover {
  background-color: var(--color-grey-hover);
}

.show-button:focus {
  background-color: var(--color-grey-click);
  color: var(--transparent-dark);
  box-shadow: 0 -3px var(--transparent-dark2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.feedback-button {
  padding: 16px 44px;
}

.send-button {
  padding: 16px 83px;
}

/*-------------header-------------*/

.main-header {
  background-color: var(--secondary-light);
  margin: 0;
  padding: 0;
}

.main-header-content {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 49px auto 0;
}

.nerds-logo {
  height: 66px;
}

.nerds-logo:hover {
 opacity: 0.7;
}

.nerds-logo:focus {
  opacity: 0.3;
}

.main-navigation {
  margin-top: 26px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  width: 798px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.site-navigation a,
.basket-link {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.user-navigation li {
  margin-left: 10px;
}

.site-navigation li {
  margin-right: 45px;
}

.basket {
  justify-self: end;
  text-align: end;
  width: 115px;
  position: relative;
}

.basket-link::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/decorative/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation a:hover,
.basket a:hover {
  color: var(--color-red);
}

.main-navigation a:focus,
.basket a:focus {
  color: var(--transparent-dark);
}

.site-navigation a:active,
.site-navigation a.active {
  padding-bottom: 13px;
  border-bottom: 2px solid var(--color-red);
}

.basket:active {
  padding-bottom: 10px;
  border-bottom: 2px solid var(--color-red);
}

/*-------------main-------------*/

/*-------------slider-------------*/

.slider {
  background-color: var(--secondary-light);
  margin-bottom: 80px;
}

.slide {
  display: none;
}

.slide.active {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.slide-info {
  width: 538px;
}

.slide-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--secondary-dark);
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 74px;
  width: 538px;
}

.slide-text {
  margin-top: 25px;
  margin-bottom: 38px;
  width: 416px;
}

.slide-1 {
  background-image: url(../img/decorative/slide1.png);
  background-repeat: no-repeat;
  background-position: right;
}

.slide-2 {
  background-image: url(../img/decorative/slide2.png);
  background-repeat: no-repeat;
  background-position: right;
}

.slide-3 {
 background-image: url(../img/decorative/slide3.png);
 background-repeat: no-repeat;
 background-position: right;
}

.slider-indicators {
  position: absolute;
  margin: 0;
  padding: 0;
}

.slider .more-info-button {
  margin-bottom: 80px;
}

/*-------------services-------------*/

.services {
  width: 1160px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 0;
  background-image: url(../img/decorative/grey-line.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  padding-bottom: 80px;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--secondary-dark);
  margin: 25px 0 16px;
}

.services-item {
  width: 300px;
}

.services-item:nth-child(3n+3) {
  margin-right: 60px;
}

.services-item:nth-child(n+4) {
  margin-top: 30px; /* чтобы последующие карточки не прилипали */
}

.services-item p {
  margin-bottom: 32px;
  width: 260px;
}

/*-------------about us left-------------*/

.about-us {
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 149px;
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
  background-image: url(../img/decorative/grey-line.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 73px;
}

.about-us-right {
  grid-column: 2 / 3;
  margin-top: 39px;
  width: 360px;
}

.about-us-left {
  grid-column: 1 / 2;
  margin-top: 73px;
}

.about-us-right img {
  object-fit: cover;
  margin-bottom: 30px;
}

.intro {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--secondary-dark);
  margin-bottom: 32px;
  margin-top: 0;
}

.principle {
  margin-bottom: 40px;
}

.options {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 0;
}

.options-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  padding: 0;
  margin: 0;
}

.options-list li {
  background: url(../img/decorative/red-line.svg) no-repeat left center;
  padding-left: 35px;
}

/*-------------about us right-------------*/

.about-us-right p {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  color: var(--secondary-dark);
  margin: 0;
}

.benefits-list {
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 31px;
}

.benefits-item {
  width: min-content;
  margin-right: 22px;
}

.benefits-item dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
  margin-bottom: 10px;
}

.benefits-item span {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: text-top;
  color: var(--secondary-dark);
}

.benefits-list dd {
  line-height: 18px;
  margin: 0;
}

/*-------------partners-------------*/

.our-partners {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0;
  background-image: url(../img/decorative/grey-line.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin-bottom: 80px;
}

.partners-list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  align-items: center;
}

.partners-item {
  background-image: url(../img/decorative/grey-line-small.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

.partners-item:nth-child(n+4) {
  background-image: none;
}

.partners-item a {
  display: flex;
  justify-content: center;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item img:focus {
  opacity: 0.1;
}

.partners-item img:nth-child(n+5) {
  margin-top: 30px;
}

/*-------------footer-------------*/

.footer-map {
  display: grid;
  grid-template-columns: auto 1160px auto;
  grid-template-rows: 54px 308px 54px;
  margin-bottom: 68px;
}

.map-image {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  width: 100%;
  height: 416px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 68px;
}

.map-marker {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  position: relative;
  top: 32px;
  left: 681px;
}

.footer-contact {
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  background-color: var(--primary-light);
  width: 319px;
  height: 308px;
  padding: 48px 50px;
}

.contacts-box {
 width: 230px;
 margin-top: 22px;
 margin-bottom: 37px;
}

.footer-contact span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.address,
.phone-number a {
  font-style: normal;
  line-height: 18px;
  color: var(--color-grey);
}

.phone-number {
 margin-top: 16px;
}

/*-------------socials-------------*/

.footer-social {
  display: grid;
  column-gap: 139px;
  grid-template-columns: 261px 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 68px;
  width: 1160px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: max-content;
}

.social-item {
  margin-right: 9px;
}

.social-circle {
  display: flex;
	justify-content: center;
  align-items: center;
  width: 261px;
	height: 81px;
	width: 81px;
	background-color: var(--socials);
	border-radius: 50%;
}

.social-circle:hover {
  background-color: var(--color-red-hover);
}

.social-circle:focus {
  background-color: var(--color-red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-circle:focus path {
  opacity: 0.3;
}

.discount-wrapper {
  padding-top: 7px;
}

.discount-wrapper span {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--secondary-dark);
}

.discount-wrapper p {
  line-height: 22px;
  color: var(--color-dark-grey);
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

/*-------------feedback form-------------*/

.modal-window {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-window h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--secondary-dark);
}

.modal-wrapper {
  width: 761px;
  height: 443px;
  margin:  62px 100px 84px 100px;
}

.feedback-form div {
  line-height: 18px;
  font-weight: 700;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"]{
  border: 2px solid var(--form-quiet);
  color: var(--transparent-grey);
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 16px;
}

.form {
 display: grid;
}

.form label {
  margin-bottom: 9px;
}

.name-form {
  float: left;
  width: 360px;
}

.email-form {
  float: right;
  width: 360px;
  margin-bottom: 34px;
}

.text-form {
  clear: both;
}

.message-area {
  border: 2px solid var(--form-quiet);
  border-radius: 3px;
  resize: none;
  width: 728px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--transparent-grey);
  margin-bottom: 47px;
  padding: 12px 16px;
  margin-top: 9px;
}

.message-area:hover{
  border-color: var(--form-hover);
  border-radius: 3px;
}

.message-area:focus {
  outline-color: var(--secondary-dark);
  border-radius: 3px;
  color: var(--secondary-dark);
}

.feedback-form input:hover {
  border-color: var(--form-hover);
  border-radius: 3px;
  color: var(--form-hover);
}

.feedback-form input:focus {
  outline-color: var(--secondary-dark);
  border-radius: 3px;
  color: var(--secondary-dark);
}

.feedback-form input:invalid {
  border-color: var(--color-red-hover);
  border-radius: 3px;
  color: var(--color-red-hover);
}

/*-------------catalog.html-------------*/

/*-------------header-------------*/

.title-wrapper {
 display: grid;
 justify-content: center;
}

.title-wrapper h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--secondary-dark);
  margin: 76px 0 108px;
}

/*-------------main-------------*/

.content-wrapper {
  display: grid;
  grid-template-areas: 'sidebar . market';
  grid-template-columns: 3fr 1fr 8fr;
  column-gap: 70px;
  width: 1160px;
  margin-top: 55px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

/*-------------filter-------------*/

.filter-wrapper {
  grid-area: sidebar;
  width: 260px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.filter fieldset:first-child {
 margin-bottom: 54px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 43px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
  margin-bottom: 16px;
}

.price-filter legend {
  margin-bottom: 48px;
}

.filter-input-radio,
.filter-input-checkbox {
  color: var(--primary-dark);
  font-size: 16px;
  line-height: 19px;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  color: var(--primary-dark-transparent);
}

.grid-item,
.features-item {
  padding-left: 36px;
  margin-bottom: 19px;
}

.grid-item label,
.features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -36px;
  top: -3px;
  opacity: 0.4;
  background-image: url(../img/decorative/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -28px;
  top: 5px;
  opacity: 0.4;
  background-image: url(../img/decorative/Oval.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -36px;
  top: -3px;
  opacity: 0.4;
  background-image: url(../img/decorative/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -36px;
  top: -3px;
  opacity: 0.4;
  background-image: url(../img/decorative/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*-------------sorting-------------*/

.sorting {
  margin-bottom: 45px;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
}

.sorting-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-self: end;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--transparent-dark);
  margin-left: 25px;
}

.sorting-list a:hover {
  color: var(--transparent-dark3);
}

.sorting-list a:focus {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.sorting span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.up-arrow,
.down-arrow {
  fill: #A6A6A6;
  opacity: 0.2;
}

.up-arrow {
  padding: 0 3px 0 3px;
  margin-left: 8px;
}

.down-arrow {
  padding: 0 1px 0 3px;
}

.up-arrow:hover,
.down-arrow:hover {
  fill: #A6A6A6;
  opacity: 1;
}

.up-arrow:focus:active,
.down-arrow:focus:active {
  fill: #231F20;
  opacity: 1;
}

/*-------------grid-------------*/

.grid-list,
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 19px;
}

/*-------------templates-------------*/

.templates-wrapper {
  grid-area: market;
}

.templates-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 41px;
  row-gap: 30px;
}

.templates-item {
  width: 358px;
  height: 578px;;
  margin: 0;
  position: relative;
  background-color: var(--templates-bg);
  background-image: url(../img/decorative/browser-quiet.png);
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 40px;
  border: 1px solid var(--transparent-dark2);
  border-radius: 5px;
  /* как сделать, чтоб карточка тоже изменяла размер при изменении размера desc-box'а?  */
}

.templates-item:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  background-image: url(../img/decorative/browser.png);
  background-position: top;
  background-repeat: no-repeat;
}

.desc-box {
  display: none;
  background-color: var(--secondary-light);
  text-align: center;
  position:absolute;
  top: 390px;
  width: 358px;
  height: max-content;
  z-index: 1;
}

.desc-box .container {
  width: 255px;
  margin: 26px auto 44px;
}

.desc-box-title {
  margin: 0;
  padding: 0;
}

.desc-box-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.templates-item:hover .desc-box{
  display: block;
  background-color: var(--secondary-light);
  text-align: center;
}

.desc-box a:hover {
  color: var(--color-red);
}

.desc-box a:focus {
  color:var(--transparent-dark);
}

.desc-box p {
  line-height: 18px;
  color: var(--color-grey);
  margin-bottom: 32px;
  margin-top: 12px;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.pagination-item a {
  display: inline-block;
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary-dark);
  background-color: var(--secondary-light);
  outline: 3px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 13px 17px;
  margin-right: 11px;
}

.pagination-item:last-child a {
  padding: 13px 77px;
}

.pagination-item a:hover {
  background-color: var(--color-grey-hover);
}

.pagination-item a:focus {
  background-color: var(--color-grey-click);
  color: var(--transparent-dark);
  box-shadow: inset 0px 3px 0px var(--transparent-dark2);
  border-radius: 3px;
}

.pagination-item a:active,
.pagination-item a.active {
  color: var(--secondary-dark);
  background-color: var(--primary-light);
  border: 3px solid var(--page-button-border);
  box-shadow: none;
  padding: 10px 14px;
}

.pagination-item:last-child a:active {
  padding: 10px 74px;
}
