/* Variables */

:root {
  --primary-light: #ffffff;
  --secondary-light: #eeeeee;
  --primary-dark: #283136;
  --secondary-dark: #000000;
  --color-red: #FB565A;
  --color-red-hover: #e74246;
  --color-red-click: #D7373B;
  --color-green: #00CA74;
  --color-green-hover: #00BC6C;
  --color-green-click: #00AA62;
  --color-yellow: #EFC849;
  --color-yellow-hover: #EAB534;
  --color-yellow-click: #E5A722;
  --disabled-form: rgba(40, 49, 54, 0.3);
  --price-toggles: #ababab;
  --price-filter: #EEE;
  --color-grey-text: #666666;
  --color-grey-text2: #444444;
  --slider-dot-active: #c1c1c1;
  --color-grey-hover: #DFDFDF;
  --color-grey-click: #D5D5D5;
  --social-circle: #E1E1E1;
  --page-button-border: #DBDBDB;
  --form-quiet: #D7DCDE;
  --form-hover: #B4B9BB;
  --transparent-light: rgba(255, 255, 255, 0.3);
  --transparent-dark: rgba(0, 0, 0, 0.3);
  --transparent-dark2: rgba(0, 0, 0, 0.1);
  --transparent-dark3: rgba(0, 0, 0, 0.6);
  --transparent-grey: rgba(68, 68, 68, 0.5);
}

/*-------------Global-------------*/

.page-body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-dark);
  background-color: var(--primary-light);
  margin: 0;
  padding: 0;
  min-width: 1180px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------------buttons-------------*/

.button {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary-light);
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 16px 54px;
}

.more-info-button,
.order-red-button,
.feedback-button,
.send-button,
.price-button {
  background-color: var(--color-red);
}

.order-red-button,
.order-yellow-button,
.order-green-button {
  padding: 16px 40px;
}

.order-green-button {
  background-color: var(--color-green);
}

.order-green-button:hover {
  background-color: var(--color-green-hover);
}

.order-green-button:focus {
  color: var(--transparent-light);
  background-color: var(--color-green-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.order-yellow-button {
  background-color: var(--color-yellow);
}

.order-yellow-button:hover {
  background-color: var(--color-yellow-hover);
}

.order-yellow-button:focus {
  color: var(--transparent-light);
  background-color: var(--color-yellow-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.more-info-button:hover,
.order-red-button:hover,
.feedback-button:hover,
.send-button:hover,
.price-button:hover {
  background-color: var(--color-red-hover);
}

.more-info-button:focus,
.order-red-button:focus,
.feedback-button:focus,
.send-button:focus,
.price-button:focus {
  color: var(--transparent-light);
  background-color: var(--color-red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.show-button {
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
  outline: none;
  width: 100%;
}

.show-button:hover {
  background-color: var(--color-grey-hover);
}

.show-button:focus {
  background-color: var(--color-grey-click);
  color: var(--transparent-dark);
  box-shadow: 0 -3px var(--transparent-dark2);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.feedback-button {
  padding: 16px 44px;
}

.send-button {
  padding: 16px 83px;
}

.price-button {
  padding: 16px 72px;
}

/*-------------header-------------*/

.main-header {
  background-color: var(--secondary-light);
  margin: 0;
  padding: 0;
  z-index: 1;
}

.main-header-container {
  display: flex;
  width: 1160px;
  margin: 49px auto 0;
  justify-content: space-between;
}

.nerds-logo {
  height: 65px;
}

.nerds-logo:hover {
  opacity: 0.7;
}

.nerds-logo:focus {
  opacity: 0.3;
}

.main-navigation {
  margin-top: 26px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10px;
  width: 798px;
}

.main-navigation li {
  margin-bottom: 9px;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.user-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  margin: 0;
  padding: 0;
}

.site-navigation a,
.user-navigation a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.site-navigation li {
  margin-right: 45px;
}

.user-navigation li {
  margin-left: 10px;
}

.basket {
  position: relative;
  justify-self: end;
  text-align: end;
  width: 115px;
}

.basket-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 19px;
  top: 5px;
  background-image: url("../img/decorative/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation a:hover {
  color: var(--color-red);
}

.main-navigation a:focus {
  color: var(--transparent-dark);
}

.main-navigation a:active,
.main-navigation a.active {
  padding-bottom: 18px;
  border-bottom: 2px solid var(--color-red);
}

.basket-link:active::before {
  padding-bottom: 18px;
  border-bottom: 2px solid var(--color-red);
}

/*-------------main-------------*/

/*-------------slider-------------*/

.slider {
  background-color: var(--secondary-light);
  margin-bottom: 80px;
  position: relative;
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-current {
  display: flex;
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.slide-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--secondary-dark);
  margin: 0;
  margin-top: 78px;
  padding: 0;
  width: 538px;
}

.slide-text {
  line-height: 24px;
  margin-top: 27px;
  width: 416px;
}

.slide-1 {
  background-image: url(../img/decorative/slide1.png);
  background-repeat: no-repeat;
  background-position: 397px;
}

.slide-2 {
  background-image: url(../img/decorative/slide2.png);
  background-repeat: no-repeat;
  background-position: 397px;
}

.slide-3 {
  background-image: url(../img/decorative/slide3.png);
  background-repeat: no-repeat;
  background-position: 397px;
}

.slide-2 .slide-text,
.slide-3 .slide-text {
  margin-top: 38px;
}

.slider-controls {
  position: absolute;
  top: 317px;
  left: calc(50% - 44px);
  display: flex;
  width: 88px;
  justify-content: space-between;
}

.slider-dot {
  width: 18px;
  height: 18px;
  background-color: var(--primary-light);
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  outline-style: none;
  position: relative;
}

.slider-dot.active::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--primary-light) ;
  border: 2px solid var(--slider-dot-active);
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.slider .more-info-button {
  margin: 22px 0 80px;
}

.slide-2 .more-info-button,
.slide-3 .more-info-button {
  margin-top: 12px;
}

/*-------------services-------------*/

.services {
  width: 1160px;
  margin: 0 auto;
  text-align: left;
}

.services img {
  object-fit: contain;
}

.services-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 82px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.services-list::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--secondary-light);
  bottom: 0;
}

.services-list h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--secondary-dark);
  margin: 18px 0 16px;
}

.services-item {
  width: 300px;
}

.services-item:nth-child(3n+3) {
  margin-right: 60px;
}

.services-item:nth-child(n+4) {
  margin-top: 30px;
}

.services-item p {
  margin-bottom: 32px;
  width: 260px;
}

/*-------------about us left-------------*/

.about-us {
  display: grid;
  grid-template-columns: 7fr 3fr;
  column-gap: 149px;
  margin-right: auto;
  margin-left: auto;
  width: 1160px;
  padding-bottom: 50px;
  position: relative;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--secondary-light);
  bottom: 0;
}

.about-us-left {
  grid-column: 1 / 2;
  margin-top: 73px;
}

.about-us-right {
  grid-column: 2 / 3;
  margin-top: 39px;
  width: 360px;
}

.about-us-right img {
  object-fit: cover;
  margin-bottom: 30px;
}

.intro {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--secondary-dark);
  margin: 0 0 35px;
}

.principle {
  margin-bottom: 40px;
}

.options {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 23px;
}

.options-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-list li {
  padding-left: 35px;
  margin-bottom: 24px;
  position: relative;
}

.options-list li::before{
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-red);
  position: absolute;
  left: 0;
  top: 11px;
}

/*-------------about us right-------------*/

.about-us-right p {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  width: 360px;
  color: var(--secondary-dark);
  margin: 0;
}

.about-us-right img {
  object-fit: contain;
}

.benefits-list {
  padding: 0;
  margin: 0;
  margin-top: 31px;
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.benefits-item {
  width: min-content;
  margin-right: 23px;
}

.benefits-item dt {
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
  margin-bottom: 12px;
}

.benefits-item span {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  vertical-align: text-top;
  color: var(--secondary-dark);
}

.benefits-list dd {
  line-height: 18px;
  margin: 0;
}

/*-------------partners-------------*/

.our-partners {
  width: 1160px;
  margin: 0 auto 80px;
  padding: 48px 0 46px;
  position: relative;
}

.our-partners::before {
  content: "";
  position: absolute;
  width: 1160px;
  height: 2px;
  background-color: var(--secondary-light);
  bottom: 0;
}

.partners-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  align-items: center;
  width: 1160px;
  position: relative;
  column-gap: 40px;
}

.partners-item::before {
  content: "";
  height: 52px;
  width: 2px;
  background-color: var(--secondary-light);
  position: absolute;
  top: 18px;
  transform: translateX(280px);
}

.partners-item:first-child {
  margin-top: 10px;
}

.partners-item:last-child::before {
  background-color: transparent;
}

.partners-item a {
  display: flex;
  justify-content: center;
}

.partners-item img {
  opacity: 0.2;
}

.partners-item img:hover {
  opacity: 1;
}

.partners-item a:focus img {
  opacity: 0.1;
}

.partners-item img:nth-child(n+5) {
  margin-top: 30px;
}

/*-------------footer-------------*/

.footer-map {
  display: grid;
  grid-template-columns: auto 1160px auto;
  grid-template-rows: 54px 308px 54px;
  margin-bottom: 68px;
}

.map-image {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  width: 100%;
  height: 416px;
  object-fit: cover;
  margin: 0 auto 68px;
}

.footer-contact {
  box-sizing: border-box;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  background-color: var(--primary-light);
  width: 319px;
  height: 308px;
  padding: 48px 50px;
}

.contacts-box {
  width: 230px;
  margin: 22px 0 34px;
}

.footer-contact span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.address,
.phone-number a {
  font-style: normal;
  line-height: 18px;
  color: var(--color-grey-text);
}

.phone-number {
  margin-top: 16px;
}

/*-------------socials-------------*/

.footer-social {
  display: grid;
  column-gap: 139px;
  grid-template-columns: 261px 1fr;
  margin: 0 auto 68px;
  width: 1160px;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
}

.social-item {
  margin-right: 10px;
}

.social-circle {
  display: flex;
	justify-content: center;
  align-items: center;
  width: 261px;
	height: 80px;
	width: 80px;
	background-color: var(--social-circle);
	border-radius: 50%;
}

.social-circle:hover {
  background-color: var(--color-red-hover);
}

.social-circle:focus {
  background-color: var(--color-red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-circle:focus path {
  opacity: 0.3;
}

.discount-wrapper {
  padding-top: 5px;
}

.discount-wrapper span {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--secondary-dark);
}

.discount-wrapper p {
  line-height: 22px;
  color: var(--color-grey-text2);
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

/*-------------feedback form-------------*/

.modal-window {
  display: none;
  position: fixed;
  background-color: var(--primary-light);
  width: 960px;
  bottom: 180px;
  left: calc(50% - 480px);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-window h2 {
  font-size: 45px;
  line-height: 53px;
  font-weight: 700;
  color: var(--secondary-dark);
}

.modal-wrapper {
  width: 761px;
  height: 443px;
  margin:  62px 100px 84px 100px;
}

.modal-close {
  position: absolute;
  right: 90px;
  top: 78px;
  cursor: pointer;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  outline: none;
}

.modal-close::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url(../img/decorative/close-cross.svg);
  background-position: 0 0;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.modal-close:hover::before {
  opacity: 1;
}

.modal-close:active::before {
  opacity: 0.1;
}

.feedback-form div {
  line-height: 18px;
  font-weight: 700;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"] {
  border: 2px solid var(--form-quiet);
  color: var(--transparent-grey);
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  padding: 14px 16px;
}

.feedback-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form label {
  margin-bottom: 9px;
}

.name-form {
  width: 360px;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.email-form {
  width: 360px;
  display: flex;
  flex-direction: column;
}


.text-form {
  margin-top: 34px;
}

.message-area {
  border: 2px solid var(--form-quiet);
  border-radius: 3px;
  resize: none;
  width: 760px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  color: var(--transparent-grey);
  margin-bottom: 47px;
  margin-top: 9px;
  padding: 16px 16px;
  box-sizing: border-box;
  height: 118px;
}

.message-area:hover {
  border-color: var(--form-hover);
  border-radius: 3px;
}

.message-area:focus {
  border-color: var(--secondary-dark);
  border-radius: 3px;
  color: var(--secondary-dark);
  outline: none;
}

.feedback-form input:hover {
  border-color: var(--form-hover);
  border-radius: 3px;
  color: var(--form-hover);
}

.feedback-form input:focus {
  border-color: var(--secondary-dark);
  border-radius: 3px;
  color: var(--secondary-dark);
  outline: none;
}

.feedback-form input:invalid {
  border-color: var(--color-red-hover);
  border-radius: 3px;
  color: var(--color-red-hover);
}

/*-------------catalog.html-------------*/

/*-------------header-------------*/

.title-wrapper {
  display: block;
}

.title-wrapper h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--secondary-dark);
  text-align: center;
}

.title-wrapper h1:first-of-type {
  margin-top: 78px;
}

.title-wrapper h1:last-of-type {
  margin-bottom: 108px;
}

/*-------------main-------------*/

.content-wrapper {
  display: grid;
  grid-template-areas: 'sidebar . market';
  grid-template-columns: 3fr 1fr 8fr;
  column-gap: 70px;
  width: 1160px;
  margin: 56px auto 60px;
}

/*-------------filter-------------*/

.filter-wrapper {
  grid-area: sidebar;
  width: 260px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.filter fieldset:first-child {
  margin-bottom: 55px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 47px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.range-filter legend {
  margin-bottom: 48px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--price-filter);
  border-radius: 3px;
  outline-offset: -3px;
  margin-bottom: 14px;
  padding: 39px 22px 0;
}

.range-controls .scale {
  height: 2px;
  background: var(--form-quiet);
}

.range-controls .bar {
  height: 2px;
  background: var(--color-green);
  width: 67%;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 4px;
  height: 4px;
  padding: 0;
  background: var(--price-toggles);
  border: 8px solid var(--primary-light);
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  outline: none;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  line-height: 22px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 64px;
  background-color: var(--price-filter);
  border-style: none;
  border-radius: 3px;
  text-align: center;
  margin-left: 8px;
  padding: 8px;
}

.price-controls input[type=number] {
  -moz-appearance: textfield;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.grid-list,
.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 19px;
}

.filter-input-radio,
.filter-input-checkbox {
  color: var(--primary-dark);
  font-size: 16px;
  line-height: 19px;
}

.grid-item,
.features-item {
  padding-left: 36px;
  margin-bottom: 20px;
}

.features-item {
  margin-bottom: 21px;
}

.grid-item:last-child,
.features-item:last-child {
  margin-bottom: 0;
}

.grid-item label,
.features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -36px;
  top: -3px;
  opacity: 0.4;
  background-image: url(../img/decorative/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4D4D4D;
  left: -28px;
  top: 5px;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-radio:hover + label::after {
  opacity: 1;
}

.filter-input-radio:disabled + label {
  color: var(--disabled-form);
}

.filter-input-radio:disabled + label::before {
  opacity: 0.1;
}

.filter-input-radio:disabled + label::after {
  opacity: 0.1;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -36px;
  top: -3px;
  background-image: url(../img/decorative/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 23px;
  left: -36px;
  top: -3px;
  background-color: var(--primary-light);
  background-image: url(../img/decorative/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:hover + label::after {
 opacity: 1;
}

.filter-input-checkbox:disabled + label {
  color: var(--disabled-form);
}

.filter-input-checkbox:disabled + label::before {
 opacity: 0.1;
}

.filter-input-checkbox:disabled + label::after {
  opacity: 0.1;
}

/*-------------sorting-------------*/

.sorting {
  margin-bottom: 48px;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
}

.sorting-list {
  list-style: none;
  margin: 0;
  margin-right: 47px;
  margin-top: 2px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--transparent-dark);
  margin-left: 25px;
}

.sorting-list a:hover {
  color: var(--transparent-dark3);
}

.sorting-list a:focus:active,
.sorting-list a.active {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.sorting span {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.up-arrow,
.down-arrow {
  fill: #A6A6A6;
  opacity: 0.2;
}

.up-arrow {
  padding: 0 3px 0 3px;
  margin-left: 8px;
}

.down-arrow {
  padding: 0 1px 0 3px;
}

.up-arrow:hover,
.down-arrow:hover {
  fill: #A6A6A6;
  opacity: 1;
}

.up-arrow:focus:active,
.down-arrow:focus:active {
  fill: #231F20;
  opacity: 1;
}

/*-------------templates-------------*/

.templates-wrapper {
  grid-area: market;
}

.templates-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 30px;
}

.product-card {
  /*height: 578px;*/
  width: 358px;
  margin: 0;
  padding-top: 40px;
  position: relative;
  background-color: var(--primary-light);
  border-radius: 5px;
  border: 1px solid var(--transparent-dark2);
  background-image: url(../img/decorative/browser-quiet.png);
  background-position: top;
  background-repeat: no-repeat;
}

.item-img {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  object-fit: contain;
  outline-offset: -2px;
}

.product-card:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  background-image: url(../img/decorative/browser.png);
  background-position: top;
  background-repeat: no-repeat;
}

.desc-box {
  display: none;
  position: absolute;
  background-color: var(--secondary-light);
  text-align: center;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 44px;
  width: 100%;
  top: 390px;
}

.product-card:hover .desc-box {
  display: block;
  background-color: var(--secondary-light);
}

.desc-box-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.desc-box a:hover {
  color: var(--color-red);
}

.desc-box a:focus {
  color:var(--transparent-dark);
}

.desc-box p {
  line-height: 18px;
  color: var(--color-grey-text);
  margin: 12px auto 32px;
  width: 255px;
}

/*.desc-box {
  display: none;
  position: absolute;
  background-color: var(--secondary-light);
  text-align: center;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  width: 100%;
  bottom: 0;
}

.desc-box .container {
  width: 255px;
  margin: 26px auto 44px;
}

.desc-box-title {
  margin: 0;
  padding: 0;
}

.desc-box-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--secondary-dark);
}

.product-card:hover .desc-box {
  display: block;
  background-color: var(--secondary-light);
}

.desc-box a:hover {
  color: var(--color-red);
}

.desc-box a:focus {
  color:var(--transparent-dark);
}

.desc-box p {
  line-height: 18px;
  color: var(--color-grey-text);
  margin: 12px 0 32px;
}*/

.pagination {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 55px;
}

.pagination-item a {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--secondary-dark);
  background-color: var(--secondary-light);
  outline: 3px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 16px 20px;
  margin-right: 12px;
}

.pagination-item:last-child a {
  padding: 16px 78px;
}

.pagination-item a:hover {
  background-color: var(--color-grey-hover);
}

.pagination-item a:focus {
  background-color: var(--color-grey-click);
  color: var(--transparent-dark);
  box-shadow: inset 0px 3px 0px var(--transparent-dark2);
  border-radius: 3px;
}

.pagination-item a:active,
.pagination-item a.active {
  color: var(--secondary-dark);
  background-color: var(--primary-light);
  border: 3px solid var(--page-button-border);
  box-shadow: none;
  padding: 13px 17px;
}

.pagination-item:last-child a:active {
  padding: 13px 75px;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
